@charset "utf-8";

body {
  background: lightgrey;
  text-align: center;
}

main {
}

button {
  width: 100px;
  height: 20px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 6px;
  
}

.underad {
  display: flex;
  flex-direction: column;
}



.inactive {
  display: none;
}

.size {
  width: 30px;
  height: 10px;
}